@mixin down ($justify-c, $list-s) {
    .down {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: $justify-c;
            width: 100%;
            list-style: $list-s;
            padding: 3em;
        }
    }
}